.cases {

    padding-bottom: 100px;
}

.cases__content {
    padding-top: 50px;
}

.cases__text {

}

.cases__slider {


}

.case__slide {
    position: relative;
    overflow: hidden;

    &.over {
        & .case__descr {
            left: 0;
        }

        & .case__info {
            right: 0;
        }
    } 
    
 
}

.case__labels {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    display: flex;
    gap: 10px;

}

.case__label {
    padding: 5px 10px;
    background: var(--c-blue);
    color: #fff;
}

.case__descr {
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 100%;
    z-index: 10;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    width: 350px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    transition: .3s;

    &-title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 15px;
        color: #4d4446;
    }
    

    ul {
        li {
            position: relative;
            color: #231f20;
            font-size: 14px;
            padding-left: 15px;
            margin-bottom: 10px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                transform: rotate(45deg);
                width: 6px;
                height: 6px;
                background: var(--c-blue);
            }
        }
    }
}

.case__info {
    display: none !important;
    position: absolute;
    top: 50px;
    right: -100%;
    min-height: 100px;
    z-index: 10;
    padding: 15px;
    background: rgba(255, 255, 255, 1);
    width: 200px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    transition: .3s;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .case__term {

        &-title {
            text-transform: uppercase;
            font-size: 16px;
        }

        &-text {
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    & .case__budget {

        &-title {
            text-transform: uppercase;
            font-size: 16px;
        }

        &-text {
            text-transform: uppercase;
            font-size: 12px;
        }

    }

}

.case__inner-slider {
    height: 400px;
}

.case__inner-slide {

}

.case__inner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.case__slide  .swiper-button-next {
    width: 50px;
    height: 50px;
    background: var(--c-blue);
    color: #fff;

    &:after {
        font-size: 18px;
    }
}

.case__slide  .swiper-button-prev {
    width: 50px;
    height: 50px;
    background: var(--c-blue);
    color: #fff;

    &:after {
        font-size: 18px;
    }
}