.cases {

    padding-bottom: 100px;
}

.cases__content {
    padding-top: 50px;
}

.cases__text {

}

.cases__slider {


}

.case__slide {
    position: relative;
}

.case__labels {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    display: flex;
    gap: 10px;

}

.case__label {
    padding: 5px 10px;
    background: var(--c-blue);
    color: #fff;
}

.case__descr {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.case__inner-slider {
    height: 400px;
}

.case__inner-slide {

}

.case__inner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-button-next {

}

.swiper-button-prev {

}