.faq {
    padding-top: 50px;
}

.faq__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq__item {
    border: 1px solid #000;
    padding: 18px 25px;
    cursor: pointer;

    &.opened .faq__ans {
        grid-template-rows: 1fr;
    }

    &.opened .plus {
        opacity: 0;
    }

    &.opened .minus {
        opacity: 1;
        color: var(--c-blue);
    }

}

.faq__qu {
    font-size: 26px;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    

    &:hover {
        .plus {
            transform: rotate(180deg);
        }
    }

    svg {
        color: var(--c-purple);
        transition: .3s;
        position: absolute;
        z-index: 3;
        right: 20px;
    }

    & .plus {
        opacity: 1;

    }

    & .minus {
        opacity: 0;
    }
}

.faq__ans {
    display: grid;
    grid-template-rows: 0fr;
    transition: .2s;
}

.faq__ans-inner {
    overflow: hidden;
    margin-top: 15px;
    padding-left: 15px;
    font-size: 22px;
    line-height: 140%;
    border-left: 5px var(--c-blue) solid;
}
