.mobmenu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background: #141414;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}

.mobmenu.opened {
    opacity: 1;
    visibility: visible;
}

.mobmenu__close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.mobmenu__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 16px 45px; 

}

.mobmenu__logo {
    margin-bottom: 48px;    
}

.mobmenu__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

.mobmenu__block {
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 109%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.mobmenu__title {
    padding-bottom: 18px;
    color: #DE4848;
}

.mobmenu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.mobmenu__link {

}

.mobmenu__link:hover {
    color: #DE4848;
}

.mobmenu__bottom {
    padding-top: 56px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;

}

.mobmenu__contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: #323232;
    padding: 12px 24px;


}

.mobmenu__contacts a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0%;
}

.mobmenu .main__toolbar {
    position: relative;
    width: 100%;
    bottom: 0;
}

@media(max-height: 790px) {
    .mobmenu {
        overflow-y: auto;
    }

    .mobmenu__logo {
        margin-bottom: 35px;    
    }

    .mobmenu__blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}