.reviews__wrapper {
    display: flex;
    margin: 50px 0 50px;
}

.reviews__left {
    flex: 1;

}

.reviews__title {

}

.reviews__text {

}

.reviews__img {
    
}

.reviews__right {
    flex: 1;
}

.reviews__slider {
    height: 600px;
}


.review__slide {
    padding: 15px;
    background: #b1b1b1;
}


.review__content {

}

.review__author {

}

.review__position {

}

.review__project {

}

.review__text {

}
